<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.bocsoft.arguide.dao.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.bocsoft.arguide.dao.entity.User" >
        <id column="USER_ID" property="id" jdbcType="BIGINT" />
        <result column="USER_NAME" property="username"  jdbcType="VARCHAR"  />
        <result column="USER_PASSWORD" property="password"  jdbcType="VARCHAR"  />
        <result column="USER_PHONE" property="phone"  jdbcType="VARCHAR"  />
    </resultMap>

    <sql id="Base_Column_List" >
        USER_ID, USER_NAME, USER_PASSWORD, USER_PHONE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
            <include refid="Base_Column_List" />
        from ARG_USER
        where
            USER_ID = #{id,jdbcType=BIGINT}
    </select>


</mapper>